@page "/"
@using BlazorServerSignalR.Data;
@inject ApplicationDbContext _dbContext

<PageTitle>Index</PageTitle>

<h1>환영합니다!</h1>

<div>
    <p role="status">ApplicationDb CanConnect : @CanConnect_dbContext</p>
</div>



@code {
    bool CanConnect_dbContext;

    protected override async Task OnInitializedAsync()
    {
        await _dbContext.Database.EnsureCreatedAsync();
        Task<bool> CanConnectResult = _dbContext.Database.CanConnectAsync();
        await CanConnectResult;
        CanConnect_dbContext = CanConnectResult.Result;
    }
    
}